<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI AUTOMATION OF WORDPRESS APPLICATION">
  <test name="WordPress application testcases">
   <classes>
   <class name="com.FreeCRM.testcases.LoginPageTest"></class>
   <class name="com.FreeCRM.testcases.HomePageTest"></class>
   <class name="com.FreeCRM.testcases.MediaPageTest"></class>
   <class name="com.FreeCRM.testcases.UserPageTest"></class>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->